$green: #c3ea91;
$greenActive: #baf2c0;
$greenDeep: #287a60;
$greenShadow: rgb(27, 200, 161);
$pink: rgb(255, 47, 110);
$yellow: #ffff00;
$avatarBlue: rgb(30, 255, 255);
$red: red;
$grayShadow: #949494;
